---
import BaseLayout from '../layouts/BaseLayout.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import { getCollection, render } from 'astro:content';
import GradientOrbs from '../components/GradientOrbs.astro';

const experiences = await getCollection('experiences');
const sortedExperiences = experiences.sort((a, b) => {
  const aEnd = a.data.endDate;
  const bEnd = b.data.endDate;
  if (!aEnd && bEnd) return -1;
  if (aEnd && !bEnd) return 1;
  if (!aEnd && !bEnd)
    return b.data.startDate.getTime() - a.data.startDate.getTime();
  return bEnd!.getTime() - aEnd!.getTime();
});

const rendered = await Promise.all(
  sortedExperiences.map(async (experience) => ({
    experience,
    Content: (await render(experience)).Content,
  })),
);
---

<BaseLayout title="About">
  <div class="flex flex-row gap-4 justify-between mb-12">
    <div class="flex-2">
      <h1 class="text-text text-5xl mb-4">About Me</h1>
      <p class="text-text-secondary font-sans">
        I'm currently a sophomore at Ohio University double majoring in Computer
        Science and Artificial Intelligence. I am also working on a certificate
        in Cybersecurity Management. Outside of the classroom, I enjoy working
        on a wide variety of personal projects, playing sports, staying active,
        and finding new hobbies with friends. You'll likely find me on a golf
        course yelling "fore" in my free time when the weather is nice. Feel
        free to snoop around here and contact/connect with me on any of my
        socials I've linked.
      </p>
    </div>
    <div
      class="relative flex-1 border border-border rounded-xl overflow-hidden"
    >
      <GradientOrbs />
    </div>
  </div>
  <div class="mb-12 scroll-mt-24" id="experience">
    <h2 class="text-text text-4xl mb-4">Professional Experience</h2>
    <ul>
      {
        rendered.map(({ experience, Content }, idx) => (
          <li>
            <ExperienceCard
              company={experience.data.company}
              position={experience.data.position}
              startDate={experience.data.startDate}
              endDate={experience.data.endDate}
              image={experience.data.image}
            />
            <div class="flex flex-row mb-2">
              <div
                class={`mx-10 h-auto w-px ${idx < rendered.length - 1 ? 'bg-text-muted' : ''}`}
              />
              <div class="text-text-secondary font-sans ml-4 prose prose-invert">
                <Content />
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
