---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import GradientOrbs from '../components/GradientOrbs.astro';

import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');
const featured = allProjects.filter((p: any) => p.data.featured);

const experiences = await getCollection('experiences');
const sortedExperiences = experiences.sort((a, b) => {
  const aEnd = a.data.endDate;
  const bEnd = b.data.endDate;

  // No end date, float to top
  if (!aEnd && bEnd) return -1;
  if (aEnd && !bEnd) return 1;

  // Sort by start date descending (both no end date)
  if (!aEnd && !bEnd) {
    return b.data.startDate.getTime() - a.data.startDate.getTime();
  }

  // Sort by end date descending
  return bEnd!.getTime() - aEnd!.getTime();
});
---

<BaseLayout title="Kyle Carey">
  <div class="flex flex-row justify-between gap-8 mb-24">
    <div class="pr-8 md:pr-0 flex-2 text-text">
      <h1 class="text-5xl mb-4">
        Hi, I'm <span
          class="underline decoration-primary hover:decoration-secondary transition-colors"
          >Kyle</span
        >.
      </h1>
      <p class="font-sans text-lg text-text-secondary mb-4">
        Computer Science + Artificial Intelligence student at Ohio University's
        Russ College of Engineering. I'm currently interested in parallel
        computing, distributed systems, web development, and building cool shit.
        Outside of tech, you'll likely find me on a golf course. I recently
        built <a
          class="text-primary underline hover:text-secondary cursor-pointer transition-colors"
          href="https://kygle.xyz">Kygle</a
        >, a search engine built from scratch.
      </p>
      <div class="flex gap-4 font-sans text-text-secondary">
        <a
          href="https://www.linkedin.com/in/kyle-m-carey"
          target="_blank"
          class="hover:text-text transition-colors"
        >
          <div class="flex flex-row gap-1 items-center">
            <span>LinkedIn</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-5"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 11v5"></path><path d="M8 8v.01"></path><path d="M12 16v-5"
              ></path><path d="M16 16v-3a2 2 0 1 0 -4 0"></path><path
                d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4l0 -10"
              ></path></svg
            >
          </div>
        </a>
        <span class="select-none text-secondary">/</span>
        <a
          href="https://www.github.com/kylecarey2"
          target="_blank"
          class="hover:text-text transition-colors"
        >
          <div class="flex flex-row gap-1 items-center">
            <span>GitHub</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-5"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </div>
        </a>
        <span class="select-none text-secondary">/</span>
        <a
          href="mailto:kyle@kylecarey.com"
          class="hover:text-text transition-colors"
        >
          <div class="flex flex-row gap-1 items-center">
            <span>Mail</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-5"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </div>
        </a>
      </div>
    </div>
    <div
      class="hidden md:block relative flex-1 border border-border rounded-xl overflow-hidden"
    >
      <GradientOrbs />
      <div class="absolute inset-0 flex items-end justify-center">
        <img
          src="/images/headshot.png"
          alt="Profile"
          class="scale-125 lg:scale-none lg:translate-y-8 select-none hover:grayscale-50 grayscale transition-all"
        />
      </div>
    </div>
  </div>

  <div class="mb-24">
    <div
      class="sm:flex flex-row justify-between items-center gap-8 mb-12 text-text"
    >
      <h1 class="mb-2 sm:mb-0 text-4xl">Featured Projects.</h1>
      <a
        href="/projects"
        class="text-primary hover:text-secondary transition-all underline"
      >
        <div
          class="flex items-center gap-2 hover:gap-3 transition-all select-none"
        >
          <span>View all</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </div>
      </a>
    </div>
    <div class="grid grid-cols-1 px-4 sm:px-24 md:px-0 md:grid-cols-2 gap-8">
      {
        featured.map((project: any, index) => (
          <ProjectCard
            project={project.data}
            href={`/projects/${project.id}`}
            itemNumber={index + 1}
          />
        ))
      }
    </div>
  </div>
  <div class="mb-12">
    <div
      class="sm:flex flex-row justify-between items-center gap-8 mb-12 text-text"
    >
      <h1 class="mb-2 sm:mb-0 text-4xl">Experience.</h1>
      <a
        href="/about#experience"
        class="text-primary hover:text-secondary transition-all underline"
      >
        <div
          class="flex items-center gap-2 hover:gap-3 transition-all select-none"
        >
          <span>Details</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </div>
      </a>
    </div>
    <div class="flex flex-wrap sm:justify-center gap-4">
      {
        sortedExperiences.map((experience) => (
          <ExperienceCard
            company={experience.data.company}
            position={experience.data.position}
            startDate={experience.data.startDate}
            endDate={experience.data.endDate}
            image={experience.data.image}
          />
        ))
      }
    </div>
  </div>
  <div class="mb-12">
    <p class="text-text-secondary text-center font-sans">
      Thanks for stopping by - more to come.
    </p>
  </div>
</BaseLayout>
