---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tag from '../../components/Tag.astro';
import '../../styles/article.css';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December',
];
const formattedDate = `${months[entry.data.date.getMonth()]} ${entry.data.date.getFullYear()}`;
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <div class="mb-4 border-b-2 border-border">
    <div class="sm:flex flex-row justify-between items-center mb-4">
      <div class="flex flex-row mb-2 justify-end sm:hidden">
        <a
          href="/projects"
          class="text-primary hover:text-secondary transition-all underline"
        >
          <div
            class="flex items-center gap-2 hover:gap-3 transition-all select-none"
          >
            <span>All Projects</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </div>
        </a>
      </div>

      <h1
        class="text-text text-5xl"
        transition:name={`title-${entry.data.title}`}
      >
        {entry.data.title}
      </h1>
      <a
        href="/projects"
        class="hidden sm:block text-primary hover:text-secondary transition-all underline"
      >
        <div
          class="flex items-center gap-2 hover:gap-3 transition-all select-none"
        >
          <span>All Projects</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </div>
      </a>
    </div>
    <div class="mb-4">
      <p class="text-text-secondary text-lg font-sans">{formattedDate}</p>
      {
        entry.data.url && (
          <p class="text-text-secondary font-sans">
            Live Demo:{' '}
            <a
              href={entry.data.url}
              target="_blank"
              class="text-primary hover:text-secondary transition-colors underline"
            >
              {entry.data.url.split('//').pop()}
            </a>
          </p>
        )
      }
      {
        entry.data.release && (
          <p class="text-text-secondary font-sans">
            Download:{' '}
            <a
              href={entry.data.release}
              target="_blank"
              class="text-primary hover:text-secondary transition-colors underline"
            >
              {entry.data.release.split('//').pop()}
            </a>
          </p>
        )
      }
      {
        entry.data.repo && (
          <p class="text-text-secondary font-sans mb-4">
            Repository:{' '}
            <a
              href={entry.data.repo}
              target="_blank"
              class="text-primary hover:text-secondary transition-colors underline"
            >
              {entry.data.repo.split('//').pop()}
            </a>
          </p>
        )
      }
      <div class="flex flex-row justify-between gap-2 items-center">
        <div class="flex flex-row overflow-auto gap-2 items-center">
          {entry.data.tags.map((tag) => <Tag text={tag} />)}
        </div>
        {
          entry.data.featured && (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-text-secondary"
            >
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                clip-rule="evenodd"
              />
            </svg>
          )
        }
      </div>
    </div>
  </div>

  <article class="text-text-secondary font-sans mb-12">
    <Content />
  </article>
</BaseLayout>
